.b{
    margin: 0px;
    height: 1296px;
}

.background{
    background-color: rgb(4, 13, 34);
    width: 100%;
    height: 100%;
    padding: 0px;
    position: relative;
}

.backglow1{
    background-image: url('../source/glow1.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: -400px -230px;
    position: absolute;
}

.cabeçalho{
    width: 1904px;
    height: 56px;
    display: flex;
    z-index: 100;
}

.topmenuright{
    height: 56px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 2;
}

.blankspace{
    flex-grow: 1;
}

.topmenuleft{  
    height: 56px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 2;
}

.topmenulogo{
    position:absolute;
    display:inline-block;
    vertical-align:top;
    width: 32px;
    height: 56px;
    margin-top: 30px;
    flex-grow: 1;
}

.menuitem{
    color: white;
    padding-right: 30px;
    flex-grow: 1;
}

.menuitemHover1{ /*adicionar opções de hover e seletor*/
    color: white;
    flex-grow: 1;
}

.menuitemHover2{
    color: white;
    flex-grow: 1;
}

.menuitemHover3{
    color: white;
    flex-grow: 1;
}

.searchbox{
    color: white;
    flex-grow: 1;
}

.signin{
    color: white;
    flex-grow: 1;
}

.signup{
    color: white;
    flex-grow: 1;
}