<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
        <title>API Web Simple Dictionary</title>
    </head>
    <body>
        <h1>API Web Simple Dictionary</h1>
        <p>API desenvolvida em Express.js como atividade avaliativa da disciplina de Programação para WEB do curso de Engenharia de Computação</p>
    </body>
</html>