/* ============================= */
/* ========== General ========== */
/* ============================= */
html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

body{
    margin: 0px;
    height: 100%;
    width: 100%;
    
    background-color: rgb(4, 13, 34);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -3;
}

/* Background */
#backglobe{
    position: absolute;
    left: 52%;
    top: 10%;
    height: 100%;
    width: 640px;
    object-fit: cover;
    object-position: left;
    overflow: hidden;
    z-index: -1;
}

#glowLeft{
    display:none;
    position:fixed;
    z-index: -4;
}

#glowRight{
    display:none;
    position:fixed;
    z-index: -4;
}

.foreground{
    width: 90%;
    height: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

/* ============================= */
/* ========== Header =========== */
/* ============================= */
.cabeçalho{
    width: 100%;
    height: 56px;
    display: flex;
    z-index: 100;
}

/* Menu Esquerdo */
.topmenuleft{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    align-items: center;
    vertical-align: middle;
}

.topmenulogo{
    position:relative;
    display:inline-block;
    padding-right: 1.5%;
    width: auto;
}

/* Menus Estáticos */
.menuitem{
    display: flex;
    flex-flow: row-reverse;
    flex-grow: 1;
}

.menuitemStatic{
    padding-right: 1.5%;
    flex-grow: 1;
}

.menuitemStatic :hover {
    color: #8193B2;
}

/* Menus Dinâmicos */
.menuitemHover1{ /* Products */
    padding-right: 1.5%;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover1:hover{
    color: #8193B2;
}

.menuitemHover1:hover .submenu1{
    color: #8193B2;
    display: flex;
}

.menuitemHover2{ /* Explore */
    padding-right: 1.5%;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover2:hover{
    color: #8193B2;
}

.menuitemHover2:hover .submenu2{
    color: #8193B2;
    display: flex;
}

.menuitemHover3{ /* Pricing */
    padding-right: 1.5%;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover3:hover{
    color: #8193B2;
}

.menuitemHover3:hover .submenu3{
    color: #8193B2;
    display: flex;
}

/* Submenus */
.submenu1{ /* Submenu Products */
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    height: auto;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    margin: 10px;
    border-radius: 10px;
}

.submenu2{ /* Submenu Explore */
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    height: auto;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    margin: 10px;
    border-radius: 10px;
}

.submenu3{ /* Submenu Pricing */
    position: absolute;
    display: none;
    flex-direction: column;
    background-color: #fff;
    width: 300px;
    height: auto;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    margin: 10px;
    border-radius: 10px;
}

.submenutitle{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

.submenuitem{
    color:#8193B2;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

/* Buffer Central */
.blankspace{
    flex-grow: 1;
}

/* Menu Direito */
.topmenuright{
    display: flex;
    flex-flow: row-reverse;
    flex-grow: 2;
    align-items: center;
    vertical-align: middle;
}

.searchbox{
    position: relative;
    top: 0.4%;
    background-color: transparent;
    color: #fff;
    height: 30px;
    width: fit-content;
    border-radius: 7px;
    
}

.signin{
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
}

.signin:hover{
    color: #8193B2;
}
.signup{
    width: fit-content;
    border: 1px ridge;
    border-radius: 7px;
    margin: 0;
    width: auto;
    padding: 5px;
    margin-block-end: 0;
}

.signup :hover{
    color: #8193B2;
}

.hamburger {
    display: none;
}

/* ============================= */
/* ========== Wrapper ========== */
/* ============================= */
.wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 80%;
    padding-top: 10%;
    padding-left: 5%;
    z-index: 1;
}

/* ========== Login ===========  */
.signupbox {
    padding-top: 30px;
    display: none;
    flex-direction: row;
}

.emailbox {
    flex-grow: 3;
}

.emailinput {
    padding: 16px 24px;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    line-height: 16px;
    height: inherit;
    width: 85%;
    background-color: #fff;
    color: #8193B2;
    border: 1px;
    border-radius: 10px;
    flex-grow: 2;
}

.signup2 {
    padding: 16px 24px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    line-height: 16px;
    background-color: #2ea44f;
    color: #fff;
    border-radius: 10px;
    flex-grow: 1;
}

/* ========== Dialog =========== */
.dialog {
    background-color: #8193B2;
    width: 100%;
    border-radius: 10px;
    opacity: 0.7;
}

.dialog-content {
    padding-top:30px;
    display: flexbox;
    flex-direction: row;
    font-size: 18px;
    font-weight: normal;
    text-align: left;
    vertical-align: middle;
    line-height: 16px;
    height:20%;
    width: 100%;
}

.search_field {
    padding: 0 10%;

}

.search_button {
    padding: 10px 10%;
}

#search {
    padding: 12px 16px;
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    line-height: 16px;
    height: inherit;
    width: 80%;
    background-color: #fff;
    color: #8193B2;
    border: 1px;
    border-radius: 10px;
    flex-grow: 2;
}

.form_btn {
    padding: 12px 12px;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    vertical-align: middle;
    line-height: 16px;
    background-color: #2ea44f;
    color: #fff;
    border-radius: 10px;
    flex-grow: 1;
}

/* Resposta */
.response {
    width: 80%;
    padding: 0 10%;
    font-family: 'Times New Roman', Times, serif;
    font-size:24px;
    color: #222;
}
.word {
    font-size: 32px;
    font-weight: bold;
    font-style: italic;
}

.phonetic {
    font-style: italic;
}

.partOfSpeech {
    font-weight: bold;
}

.definition {
    font-weight: normal;
}

/*
@media (max-width: 1011px) {
    body {
        overflow-x: hidden;
    }

    #backglobe{
        position: absolute;
        left: auto;
        top: 80%;
        height: 30%;
        width: 80%;
        object-fit: cover;
        object-position: top;
        overflow: hidden;
        z-index: -1;
    }

    #glowLeft{
        display: block;
        position: absolute;
        top: 10%;
        height: 30%;
        width: 30%;
        object-fit: fill;
        object-position: top left;
        overflow: hidden;
    }

    #glowRight{
        display: block;
        position: absolute;
        top: 10%;
        left: 60%;
        height: 60%;
        width: 40%;
        object-fit: fill;
        object-position: top right;
        overflow: hidden;
    }
    
    .menuitem {
        display: none;
    }


    .searchbox {
        display: none;
    }
    .signin {
        display: none;
    }
    .hamburger {
        display: inline-flex;
        padding-left: 10px;
    }

    .hamburger :hover .menuitem {
        position: absolute;
        display: block;
        flex-direction: column;
        position: absolute;
    }

    .wrapper {
        padding-left: 0%;
        width: 100%;
    }
        
    .mainText {
        margin: 0%;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 36px;
        font-weight: bold;
        color: #fff;
    }

    .subtitle {
        margin: 0%;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 22px;
        color: #8193B2;
    }

    .signupbox {
        width: 100%;
    }
    .emailbox {
        font-size: 80%;
        text-align: left;
        vertical-align: middle;
        line-height: 16px;
        height: auto;
        background-color: #fff;
        color: #8193B2;
        border: 1px;
        border-radius: 10px;
        flex-grow: 2;
    }

    .emailinput {
        width: inherit;
    }
    .signup2 {
        padding: 8px 16px;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
        background-color: #2ea44f;
        color: #fff;
        border-radius: 10px;
        flex-grow: 1;
    }
}*/
/*
@media (max-width: 768px) {
    body {
        overflow-x: hidden;
        overflow-y: hidden;
    }
    /* Background *//*
    #backglobe{
    position: absolute;
    top: 70%;
    height: 30%;
    width: 80%;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    }

    .foreground {
        width: 80%;
    }

    #glowLeft{
        display: block;
        position: absolute;
        top: 30%;
        height: 30%;
        width: 30%;
        object-fit: fill;
        object-position: top left;
        overflow: hidden;
    }

    #glowRight{
        display: block;
        position: absolute;
        top: 30%;
        left: 60%;
        height: 60%;
        width: 40%;
        object-fit: fill;
        object-position: top right;
        overflow: hidden;
    }
    
    .topmenuleft {
        flex-grow: 1;
    }

    .topmenuright {
        flex-grow: 0;
    }

    .blankspace {
        flex-grow: 3;
    }

    .mainText {
        margin: 0%;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 48px;
        font-weight: bold;
        text-align: center;
        color: #fff;
    }
    .subtitle {
        margin: 0%;
        height: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        text-align: center;
        color: #8193B2;
    }
    .signupbox {
        flex-direction: column;
        width: 100%;
    }
    .emailbox {
        font-size: 12px;
        text-align: left;
        vertical-align: middle;
        line-height: 16px;
        background-color: #fff;
        color: #8193B2;
        border: 1px;
        border-radius: 10px;
        flex-grow: 2;
    }

    .emailinput {
        width: 80%;
    }
    .signup2 {
        margin-top: 10px;
        padding: 8px 16px;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
        background-color: #2ea44f;
        color: #fff;
        border-radius: 10px;
        flex-grow: 1;
    }
}
*/
