/* Background */
.b{
    margin: 0px;
    height: 100%;
}

.background{
    background-color: rgb(4, 13, 34);
    background-image: url('../source/glow1.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    padding: 15px;
    background-position: -600px -350px;
    position: absolute;
    z-index: -1;
}

.backglobe{
    position: absolute;
    left: 50%;
    top: 15%;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}

/* Cabeçalho */
.cabeçalho{
    width: 100%;
    height: 56px;
    display: flex;
    z-index: 100;
}

/* Cabeçalho Esquerdo */
.topmenuleft{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    align-items: center;
}

.topmenulogo{
    position:relative;
    display:inline-block;
    width: 32px;
    vertical-align: middle;
    flex-grow: 1;
}

/* Menus Estáticos */
.menuitem{
    display: flex;
    flex-flow: row wrap;
    justify-content: auto;
}

.menuitemStatic{
    padding-right: 30px;
    flex-grow: 1;
}

.menuitemStatic :hover {
    color: #8193B2;
}

/* Menus Dinâmicos */
.menuitemHover1{ /* Products */
    padding-right: 30px;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover1:hover{
    color: #8193B2;
}

.menuitemHover1:hover .submenu1{
    color: #8193B2;
    display: block;
}

.menuitemHover2{ /* Explore */
    padding-right: 30px;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover2:hover .submenu2{
    color: #8193B2;
    display: block;
}

.menuitemHover3{ /* Pricing */
    padding-right: 30px;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover3:hover .submenu3{
    color: #8193B2;
    display: block;
}

/* Submenus */
.submenu1{ /* Submenu Explore */
    padding: 10px;
    position: absolute;
    display: none;
    background-color: #fff;
    width: 200px;
    height: auto;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    border-radius: 10px;
}

.submenu2{ /* Submenu Explore */
    padding: 10px;
    position: absolute;
    display: none;
    background-color: #fff;
    width: 200px;
    height: fit-content;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    border-radius: 10px;
}

.submenu3{ /* Submenu Pricing */
    padding: 10px;
    position: absolute;
    display: none;
    background-color: #fff;
    width: 200px;
    height: fit-content;
    z-index: 3;
    align-items: left;
    vertical-align: auto;
    list-style-type: none;
    border-radius: 10px;
}

.submenutitle{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

.submenuitem{
    color:#8193B2;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

/* Ícone */
.arrow1{
    height: 10px;
    width: 10px;
    position: absolute;
    right: 23px;
    top: 23px;
    color: #fff;
}

.arrow1:hover .submenu1{
    display: block;
    color: #8193B2;
}

.arrow2{
    height: 10px;
    width: 10px;
    position: absolute;
    right: -27px;
    top: 11px;
    color: #fff;
}

.arrow2:hover .submenu2{
    display: block;
    color: #8193B2;
}

.arrow3{
    height: 10px;
    width: 10px;
    position: absolute;
    right: -222px;
    top: 11px;
    color: #fff;
}

.arrow3:hover .submenu3{
    display: block;
    color: #8193B2;
}

/* Buffer Central */
.blankspace{
    flex-grow: 1;
}

/* Cabeçalho Direito */
.topmenuright{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 2;
}

.searchbox{
    font-size: 16px;
    font-style: bold;
    height: 32px;
    width: 100px;
    border: #8193B2;
    background-color: #fff;
    border-radius: 10px;
    flex-grow: 1;
}

.signin{

    flex-grow: 1;
}

.signin:hover{
    color: #8193B2;
}
.signup{
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: 3px solid #fff;
    border-radius: 0.375rem;
    flex-grow: 1;    
}

/* Wrapper */
.main_body{
    display: flex;
}

.email_signup{
    width: 60%;
    display: flex;
}

.signupbox {
    padding-top: 30px;
    display: flex;
    flex-flow: row;
    width: 60%;
}

.emailbox {
    padding: 16px 24px;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    line-height: 24px;
    height: auto;
    min-width: 60%;
    background-color: #fff;
    color: #8193B2;
    border: 1px;
    border-radius: 10px;
    flex-grow: 3;
}

.signup2 {
    margin-left: 10px;
    padding: 16px 24px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    background-color: #2ea44f;
    color: #fff;
    border: 0;
    border-radius: 10px;
    flex-grow: 1;
    transition: box-shadow .2s;
}

p {
    margin: 0%;
    height: 50%;
    width: 60%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}

h1 {
    height: 40%;
    width: 45%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-style: bold;
    color: #fff;
}

.subtitle {
    color: #fff;
    font-size: 28px;
    width: 50%;
}


