.b{
    margin: 0px;
    height: 100%;
}

.background{
    background-color: rgb(4, 13, 34);
    background-image: url('../source/glow1.svg');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: -600px -350px;
    position: absolute;
    z-index: -1;
}

.cabeçalho{
    width: 100%;
    height: 56px;
    display: flex;
    z-index: 100;
}

.topmenuleft{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    align-items: center;
}

.blankspace{
    flex-grow: 1;
}

.topmenuright{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 2;
}

.topmenulogo{
    position:relative;
    left: 332px;
    top: 9px;
    display:inline-block;
    width: 32px;
    vertical-align: middle;
    flex-grow: 1;
}

.menuitem{
    display: flex;
    position: relative;
    right: 80px;
    top: 9px;
    flex-flow: row wrap;
    justify-content: auto;
}

.menuitem :hover{
    color: #8193B2;
    flex-grow: 1;
}

.menuitemFix{
    padding-right: 30px;
    flex-grow: 1;
}

.menuitemHover1{
    padding-right: 30px;
    flex-grow: 1;
    z-index: 3;
}

.submenu1{
    position: absolute;
    display: none;
    background-color: white;
    width: 300px;
    height: 430px;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    border-radius: 10px;
}

.submenu2{
    position: absolute;
    display: none;
    background-color: white;
    width: 300px;
    height: 500px;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    border-radius: 10px;
}

.submenu3{
    position: absolute;
    display: none;
    background-color: white;
    width: 300px;
    height: 180px;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    border-radius: 10px;
}

.submenuItem1{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

.submenuItem2{
    color:gray;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

.menuitemHover1:hover .submenu1{
    display: block;
}

.menuitemHover2{
    padding-right: 30px;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover2:hover .submenu2{
    display: block;
}

.menuitemHover3{
    padding-right: 30px;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover3:hover .submenu3{
    display: block;
}

p{
    height: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: white;
}

h1 {
    position: relative;
    top: 160px;
    left: 300px;
    height: 40%;
    width: 35%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-style: bold;
    color: white;
}

.searchbox{
    position: relative;
    top: -4px;
    background-color: transparent;
    color: white;
    height: 30px;
    width: 200px;
    border-radius: 7px;
}

.signin{
    position: relative;
    width: 50px;
    flex-grow: 1;
}

.signup{
    position: relative;
    right: 200px;
    flex-grow: 1;
    border: 1px ridge;
    border-radius: 7px;
    margin: 0;
    width: 10px;
    margin-block-end: 0;
}

.main_body{
    display: flex;
}

.email_signup{
    display: flex;
}



.subtitle {
    position: relative;
    top: 110px;
    left: 300px;
    color: #8193B2;
    font-size: 28px;
    width: 35%;
}


#globepos{
    position: absolute;
    left: 1000px;
    top: 110px;
    height: 650px;
    width: 650px;
    z-index: 1;
}
.arrow1{
    position: relative;
    top: -6px;
    right: 25px;
    width: auto;
    height: auto;
    color: grey;
}

.arrow1:hover .submenu1{
    display: block;
}

.arrow2{
    position: relative;
    top: -6px;
    right: 25px;
    width: auto;
    height: auto;
    color: grey;
}

.arrow2:hover .submenu2{
    display: block;
}

.arrow3{
    position: relative;
    top: -6px;
    right: 25px;
    width: auto;
    height: auto;
    color: grey;
    z-index: 5;
}

.arrow3:hover .submenu3{
    display: block;
}

.emailtext{
    position: relative;
    top: 100px;
    left: 300px;
    background-color: white;
    color: grey;
    font-size: large;
    border-radius: 7px;
    height: 40px;
}
.signup2{
    position: relative;
    top: 60px;
    left: 550px;
    border-style: 1px ridge;
    border-radius: 7px;
    border-color: rgb(46, 165, 79);
    background-color: rgb(46, 165, 79);
    color: white;
    font-size: large;
    height: 37px;
    width: 150px;
}

hr.lhr{
    position: relative;
    top: 250px;
    width: 1250px;
    border-top: 1px solid rgb(26, 34, 53);
}

.bottomtext{
    position: relative;
    top: 250px;
    width: 1300px;
    height: 150px;
}

.bottombox1{
    position: relative;
    left:350px;
}


.bottombox2{
   position: relative;
   left: 500px;
   top: -67px;
}


.bottombox3{
    position: relative;
    left: 680px;
    top: -138px;
    width: 50%;
}


.bottombox4{
    position: relative;
    left: 835px;
    top: -205px;
    width: 50%;
}
