/* Background */
.b{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.background{
    background-color: rgb(4, 13, 34);
    background-image: url('../source/glow1.svg');
    background-repeat: no-repeat;
    padding: 15px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -2;
}

#backglobe{
    position: absolute;
    left: 52%;
    top: 10%;
    height: 650px;
    width: 650px;
    object-fit: cover;
    overflow: hidden;
    z-index: -1;
}

/* ========== Header =========== */
.cabeçalho{
    width: 100%;
    height: 56px;
    display: flex;
    z-index: 100;
}

/* Menu Esquerdo */
.topmenuleft{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 2;
    align-items: center;
    vertical-align: middle;
}

.topmenulogo{
    position:relative;
    display:inline-block;
    padding-right: 1.5%;
    width: auto;
}

/* Menus Estáticos */
.menuitem{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
}

.menuitemStatic{
    padding-right: 1.5%;
    flex-grow: 1;
}

.menuitemStatic :hover {
    color: #8193B2;
}

/* Menus Dinâmicos */
.menuitemHover1{ /* Products */
    padding-right: 1.5%;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover1:hover{
    color: #8193B2;
}

.menuitemHover1:hover .submenu1{
    color: #8193B2;
    display: block;
}

.menuitemHover2{ /* Explore */
    padding-right: 1.5%;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover2:hover .submenu2{
    color: #8193B2;
    display: block;
}

.menuitemHover3{ /* Pricing */
    padding-right: 1.5%;
    flex-grow: 1;
    z-index: 3;
}

.menuitemHover3:hover .submenu3{
    color: #8193B2;
    display: block;
}

/* Submenus */
.submenu1{ /* Submenu Products */
    position: absolute;
    display: none;
    background-color: #fff;
    width: 300px;
    height: auto;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    margin: 10px;
    border-radius: 10px;
}

.submenu2{ /* Submenu Explore */
    position: absolute;
    display: none;
    background-color: #fff;
    width: 300px;
    height: auto;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    margin: 10px;
    border-radius: 10px;
}

.submenu3{ /* Submenu Pricing */position: absolute;
    display: none;
    background-color: #fff;
    width: 300px;
    height: auto;
    z-index: 3;
    align-items: left;
    list-style-type: none;
    margin: 10px;
    border-radius: 10px;
}

.submenutitle{
    color:black;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

.submenuitem{
    color:#8193B2;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 7px;
}

/* Buffer Central */
.blankspace{
    flex-grow: 1;
}

/* Menu Direito */
.topmenuright{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    flex-grow: 2;
}

.searchbox{
    position: relative;
    top: 0.4%;
    background-color: transparent;
    color: #fff;
    height: 30px;
    width: 200px;
    border-radius: 7px;
}

.signin{
    flex-grow: 1;
}

.signin:hover{
    color: #8193B2;
}
.signup{
    position: relative;
    right: 10%;
    flex-grow: 1;
    border: 1px ridge;
    border-radius: 7px;
    margin: 0;
    width: 10px;
    margin-block-end: 0;
}

/* ========== Wrapper ========== */
.wrapper{
    display: flex;
    flex-direction: column;
    height: auto;
    width: 95%;
    padding-top: 10%;
    padding-left: 5%;
    z-index: 1;
}

.mainText {
    margin: 0%;
    height: 40%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 72px;
    font-weight: bold;
    color: #fff;
}

.subtitle {
    margin: 0%;
    height: 50%;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #8193B2;

}

.emailsignup{
    width: 100%;
    display: flex;
}

.signupbox {
    padding-top: 30px;
    flex-flow: row;
    width: 60%;
}

.emailbox {
    padding: 16px 24px;
    font-size: 16px;
    text-align: left;
    vertical-align: middle;
    line-height: 24px;
    height: auto;
    min-width: 60%;
    background-color: #fff;
    color: #8193B2;
    border: 1px;
    border-radius: 10px;
    flex-grow: 3;
}

.signup2 {
    margin-left: 10px;
    padding: 16px 24px;
    font-size: 18px;
    text-align: center;
    vertical-align: middle;
    width: auto;
    background-color: #2ea44f;
    color: #fff;
    border: 0;
    border-radius: 10px;
    flex-grow: 1;
    transition: box-shadow .2s;
}

p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: #fff;
}


/* ========== Footer =========== */
.rodape {
    width: 100%;
    height: 10%;
    align-items: center;
    vertical-align: middle;
}

hr.lhr{
    position: relative;
    top: 23%;
    width: 100%;
    border-top: 1px solid #8193B2;
}

.bottomtext{
    display: flex;
    position: relative;
    align-items: center;
    vertical-align: middle;
    top: 23%;
    width: 80%;
    height: 50px;
}

.bottombox{
    flex-grow: 1;
    flex-flow: row wrap;
}

.boldtext{
    font-size: 22px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
}

.smalltext{
    font-size: 12px;
    font-family: 'Courier New', Courier, monospace;
}
